.App {
  text-align: center;
  padding: 0;
}

.App-main {
  background-color: #22262c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

th, td {
  padding: 15px;
  text-align: center;
}

thead tr {
  border-bottom: 2px solid black;
}

tr {
  border-bottom: 1px solid black;
}
